### first class of Spark
- use Apache Spark with the PySpark API
- In order to use Spark and DataFrame API, we will need to use a SQLContext, which is created on top of SparkContext
- Both of SQLContext and SparkContext are created when Spark is lanuched, ** sc ** stands for SparkContext, ** sqlContext ** stands for SQLContext

In [2]:
type(sqlContext)

pyspark.sql.context.SQLContext

In [3]:
sc

In [4]:
### sqlContext attributes
dir(sqlContext)

['__class__',
 '__delattr__',
 '__dict__',
 '__doc__',
 '__format__',
 '__getattribute__',
 '__hash__',
 '__init__',
 '__module__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_inferSchema',
 '_instantiatedContext',
 '_jsc',
 '_jsqlContext',
 '_jvm',
 '_sc',
 '_ssql_ctx',
 'cacheTable',
 'clearCache',
 'createDataFrame',
 'createExternalTable',
 'dropTempTable',
 'getConf',
 'getOrCreate',
 'newSession',
 'range',
 'read',
 'readStream',
 'registerDataFrameAsTable',
 'registerFunction',
 'setConf',
 'sparkSession',
 'sql',
 'streams',
 'table',
 'tableNames',
 'tables',
 'udf',
 'uncacheTable']

In [1]:
### getting help
# help(sqlContext)

In [6]:
sc.version

u'2.0.1'

### using DataFrames and chaining together transformations and actions

In [8]:
### create a python collection of 10,000 people
from faker import Faker
fake = Faker()
fake.seed(1234)
fake

In [9]:
# each entry looks like this: last_name, first_name, ssn, job, age
from pyspark.sql import Row
def fake_entry():
    name = fake.name().split()
    return (name[1], name[0], fake.ssn(), fake.job(), abs(2016-fake.date_time().year)+1)

In [10]:
# create a helper function to call a function repeatedly
def repeat(times, func, *args, **kwargs):
    for _ in xrange(times):
        yield func(*args, **kwargs)

In [11]:
data = list(repeat(10000, fake_entry))

In [12]:
data[0]

(u'Smith', u'Jessica', u'819-93-5822', 'Personnel officer', 44)

In [13]:
### transform python object into a DataFrame
dataDF = sqlContext.createDataFrame(data, ('last_name', 'first_name', 'ssn', 'occupation', 'age'))

In [14]:
print 'type of dataDF: {0}'.format(type(dataDF))

type of dataDF: <class 'pyspark.sql.dataframe.DataFrame'>

In [16]:
dataDF.printSchema()

root
 |-- last_name: string (nullable = true)
 |-- first_name: string (nullable = true)
 |-- ssn: string (nullable = true)
 |-- occupation: string (nullable = true)
 |-- age: long (nullable = true)

In [17]:
### register a DaraFrame as a named table
sqlContext.registerDataFrameAsTable(dataDF, 'dataframe')

In [18]:
help(dataDF)

Help on DataFrame in module pyspark.sql.dataframe object:

class DataFrame(__builtin__.object)
 |  A distributed collection of data grouped into named columns.
 |
 |  A :class:`DataFrame` is equivalent to a relational table in Spark SQL,
 |  and can be created using various functions in :class:`SQLContext`::
 |
 |      people = sqlContext.read.parquet("...")
 |
 |  Once created, it can be manipulated using the various domain-specific-language
 |  (DSL) functions defined in: :class:`DataFrame`, :class:`Column`.
 |
 |  To select a column from the data frame, use the apply method::
 |
 |      ageCol = people.age
 |
 |  A more concrete example::
 |
 |      # To create DataFrame using SQLContext
 |      people = sqlContext.read.parquet("...")
 |      department = sqlContext.read.parquet("...")
 |
 |      people.filter(people.age > 30).join(department, people.deptId == department.id) \
 |        .groupBy(department.name, "gender").agg({"salary": "avg", "age": "max"})
 |
 |  .. versionadded:: 1.3
 |
 |  Methods defined here:
 |
 |  __getattr__(self, name)
 |      Returns the :class:`Column` denoted by ``name``.
 |
 |      >>> df.select(df.age).collect()
 |      [Row(age=2), Row(age=5)]
 |
 |      .. versionadded:: 1.3
 |
 |  __getitem__(self, item)
 |      Returns the column as a :class:`Column`.
 |
 |      >>> df.select(df['age']).collect()
 |      [Row(age=2), Row(age=5)]
 |      >>> df[ ["name", "age"]].collect()
 |      [Row(name=u'Alice', age=2), Row(name=u'Bob', age=5)]
 |      >>> df[ df.age > 3 ].collect()
 |      [Row(age=5, name=u'Bob')]
 |      >>> df[df[0] > 3].collect()
 |      [Row(age=5, name=u'Bob')]
 |
 |      .. versionadded:: 1.3
 |
 |  __init__(self, jdf, sql_ctx)
 |
 |  __repr__(self)
 |
 |  agg(self, *exprs)
 |      Aggregate on the entire :class:`DataFrame` without groups
 |      (shorthand for ``df.groupBy.agg()``).
 |
 |      >>> df.agg({"age": "max"}).collect()
 |      [Row(max(age)=5)]
 |      >>> from pyspark.sql import functions as F
 |      >>> df.agg(F.min(df.age)).collect()
 |      [Row(min(age)=2)]
 |
 |      .. versionadded:: 1.3
 |
 |  alias(self, alias)
 |      Returns a new :class:`DataFrame` with an alias set.
 |
 |      >>> from pyspark.sql.functions import *
 |      >>> df_as1 = df.alias("df_as1")
 |      >>> df_as2 = df.alias("df_as2")
 |      >>> joined_df = df_as1.join(df_as2, col("df_as1.name") == col("df_as2.name"), 'inner')
 |      >>> joined_df.select("df_as1.name", "df_as2.name", "df_as2.age").collect()
 |      [Row(name=u'Bob', name=u'Bob', age=5), Row(name=u'Alice', name=u'Alice', age=2)]
 |
 |      .. versionadded:: 1.3
 |
 |  approxQuantile(self, col, probabilities, relativeError)
 |      Calculates the approximate quantiles of a numerical column of a
 |      DataFrame.
 |
 |      The result of this algorithm has the following deterministic bound:
 |      If the DataFrame has N elements and if we request the quantile at
 |      probability `p` up to error `err`, then the algorithm will return
 |      a sample `x` from the DataFrame so that the *exact* rank of `x` is
 |      close to (p * N). More precisely,
 |
 |        floor((p - err) * N) <= rank(x) <= ceil((p + err) * N).
 |
 |      This method implements a variation of the Greenwald-Khanna
 |      algorithm (with some speed optimizations). The algorithm was first
 |      present in [[http://dx.doi.org/10.1145/375663.375670
 |      Space-efficient Online Computation of Quantile Summaries]]
 |      by Greenwald and Khanna.
 |
 |      :param col: the name of the numerical column
 |      :param probabilities: a list of quantile probabilities
 |        Each number must belong to [0, 1].
 |        For example 0 is the minimum, 0.5 is the median, 1 is the maximum.
 |      :param relativeError:  The relative target precision to achieve
 |        (>= 0). If set to zero, the exact quantiles are computed, which
 |        could be very expensive. Note that values greater than 1 are
 |        accepted but give the same result as 1.
 |      :return:  the approximate quantiles at the given probabilities
 |
 |      .. versionadded:: 2.0
 |
 |  cache(self)
 |      Persists with the default storage level (C{MEMORY_ONLY}).
 |
 |      .. versionadded:: 1.3
 |
 |  coalesce(self, numPartitions)
 |      Returns a new :class:`DataFrame` that has exactly `numPartitions` partitions.
 |
 |      Similar to coalesce defined on an :class:`RDD`, this operation results in a
 |      narrow dependency, e.g. if you go from 1000 partitions to 100 partitions,
 |      there will not be a shuffle, instead each of the 100 new partitions will
 |      claim 10 of the current partitions.
 |
 |      >>> df.coalesce(1).rdd.getNumPartitions()
 |      1
 |
 |      .. versionadded:: 1.4
 |
 |  collect(self)
 |      Returns all the records as a list of :class:`Row`.
 |
 |      >>> df.collect()
 |      [Row(age=2, name=u'Alice'), Row(age=5, name=u'Bob')]
 |
 |      .. versionadded:: 1.3
 |
 |  corr(self, col1, col2, method=None)
 |      Calculates the correlation of two columns of a DataFrame as a double value.
 |      Currently only supports the Pearson Correlation Coefficient.
 |      :func:`DataFrame.corr` and :func:`DataFrameStatFunctions.corr` are aliases of each other.
 |
 |      :param col1: The name of the first column
 |      :param col2: The name of the second column
 |      :param method: The correlation method. Currently only supports "pearson"
 |
 |      .. versionadded:: 1.4
 |
 |  count(self)
 |      Returns the number of rows in this :class:`DataFrame`.
 |
 |      >>> df.count()
 |      2
 |
 |      .. versionadded:: 1.3
 |
 |  cov(self, col1, col2)
 |      Calculate the sample covariance for the given columns, specified by their names, as a
 |      double value. :func:`DataFrame.cov` and :func:`DataFrameStatFunctions.cov` are aliases.
 |
 |      :param col1: The name of the first column
 |      :param col2: The name of the second column
 |
 |      .. versionadded:: 1.4
 |
 |  createOrReplaceTempView(self, name)
 |      Creates or replaces a temporary view with this DataFrame.
 |
 |      The lifetime of this temporary table is tied to the :class:`SparkSession`
 |      that was used to create this :class:`DataFrame`.
 |
 |      >>> df.createOrReplaceTempView("people")
 |      >>> df2 = df.filter(df.age > 3)
 |      >>> df2.createOrReplaceTempView("people")
 |      >>> df3 = spark.sql("select * from people")
 |      >>> sorted(df3.collect()) == sorted(df2.collect())
 |      True
 |      >>> spark.catalog.dropTempView("people")
 |
 |      .. versionadded:: 2.0
 |
 |  createTempView(self, name)
 |      Creates a temporary view with this DataFrame.
 |
 |      The lifetime of this temporary table is tied to the :class:`SparkSession`
 |      that was used to create this :class:`DataFrame`.
 |      throws :class:`TempTableAlreadyExistsException`, if the view name already exists in the
 |      catalog.
 |
 |      >>> df.createTempView("people")
 |      >>> df2 = spark.sql("select * from people")
 |      >>> sorted(df.collect()) == sorted(df2.collect())
 |      True
 |      >>> df.createTempView("people")  # doctest: +IGNORE_EXCEPTION_DETAIL
 |      Traceback (most recent call last):
 |      ...
 |      AnalysisException: u"Temporary table 'people' already exists;"
 |      >>> spark.catalog.dropTempView("people")
 |
 |      .. versionadded:: 2.0
 |
 |  crosstab(self, col1, col2)
 |      Computes a pair-wise frequency table of the given columns. Also known as a contingency
 |      table. The number of distinct values for each column should be less than 1e4. At most 1e6
 |      non-zero pair frequencies will be returned.
 |      The first column of each row will be the distinct values of `col1` and the column names
 |      will be the distinct values of `col2`. The name of the first column will be `$col1_$col2`.
 |      Pairs that have no occurrences will have zero as their counts.
 |      :func:`DataFrame.crosstab` and :func:`DataFrameStatFunctions.crosstab` are aliases.
 |
 |      :param col1: The name of the first column. Distinct items will make the first item of
 |          each row.
 |      :param col2: The name of the second column. Distinct items will make the column names
 |          of the DataFrame.
 |
 |      .. versionadded:: 1.4
 |
 |  cube(self, *cols)
 |      Create a multi-dimensional cube for the current :class:`DataFrame` using
 |      the specified columns, so we can run aggregation on them.
 |
 |      >>> df.cube("name", df.age).count().orderBy("name", "age").show()
 |      +-----+----+-----+
 |      | name| age|count|
 |      +-----+----+-----+
 |      | null|null|    2|
 |      | null|   2|    1|
 |      | null|   5|    1|
 |      |Alice|null|    1|
 |      |Alice|   2|    1|
 |      |  Bob|null|    1|
 |      |  Bob|   5|    1|
 |      +-----+----+-----+
 |
 |      .. versionadded:: 1.4
 |
 |  describe(self, *cols)
 |      Computes statistics for numeric columns.
 |
 |      This include count, mean, stddev, min, and max. If no columns are
 |      given, this function computes statistics for all numerical columns.
 |
 |      .. note:: This function is meant for exploratory data analysis, as we make no         guarantee about the backward compatibility of the schema of the resulting DataFrame.
 |
 |      >>> df.describe().show()
 |      +-------+------------------+
 |      |summary|               age|
 |      +-------+------------------+
 |      |  count|                 2|
 |      |   mean|               3.5|
 |      | stddev|2.1213203435596424|
 |      |    min|                 2|
 |      |    max|                 5|
 |      +-------+------------------+
 |      >>> df.describe(['age', 'name']).show()
 |      +-------+------------------+-----+
 |      |summary|               age| name|
 |      +-------+------------------+-----+
 |      |  count|                 2|    2|
 |      |   mean|               3.5| null|
 |      | stddev|2.1213203435596424| null|
 |      |    min|                 2|Alice|
 |      |    max|                 5|  Bob|
 |      +-------+------------------+-----+
 |
 |      .. versionadded:: 1.3.1
 |
 |  distinct(self)
 |      Returns a new :class:`DataFrame` containing the distinct rows in this :class:`DataFrame`.
 |
 |      >>> df.distinct().count()
 |      2
 |
 |      .. versionadded:: 1.3
 |
 |  drop(self, col)
 |      Returns a new :class:`DataFrame` that drops the specified column.
 |      This is a no-op if schema doesn't contain the given column name(s).
 |
 |      :param col: a string name of the column to drop, or a
 |          :class:`Column` to drop.
 |
 |      >>> df.drop('age').collect()
 |      [Row(name=u'Alice'), Row(name=u'Bob')]
 |
 |      >>> df.drop(df.age).collect()
 |      [Row(name=u'Alice'), Row(name=u'Bob')]
 |
 |      >>> df.join(df2, df.name == df2.name, 'inner').drop(df.name).collect()
 |      [Row(age=5, height=85, name=u'Bob')]
 |
 |      >>> df.join(df2, df.name == df2.name, 'inner').drop(df2.name).collect()
 |      [Row(age=5, name=u'Bob', height=85)]
 |
 |      .. versionadded:: 1.4
 |
 |  dropDuplicates(self, subset=None)
 |      Return a new :class:`DataFrame` with duplicate rows removed,
 |      optionally only considering certain columns.
 |
 |      :func:`drop_duplicates` is an alias for :func:`dropDuplicates`.
 |
 |      >>> from pyspark.sql import Row
 |      >>> df = sc.parallelize([ \
 |      ...     Row(name='Alice', age=5, height=80), \
 |      ...     Row(name='Alice', age=5, height=80), \
 |      ...     Row(name='Alice', age=10, height=80)]).toDF()
 |      >>> df.dropDuplicates().show()
 |      +---+------+-----+
 |      |age|height| name|
 |      +---+------+-----+
 |      |  5|    80|Alice|
 |      | 10|    80|Alice|
 |      +---+------+-----+
 |
 |      >>> df.dropDuplicates(['name', 'height']).show()
 |      +---+------+-----+
 |      |age|height| name|
 |      +---+------+-----+
 |      |  5|    80|Alice|
 |      +---+------+-----+
 |
 |      .. versionadded:: 1.4
 |
 |  drop_duplicates = dropDuplicates(self, subset=None)
 |      :func:`drop_duplicates` is an alias for :func:`dropDuplicates`.
 |
 |      .. versionadded:: 1.4
 |
 |  dropna(self, how='any', thresh=None, subset=None)
 |      Returns a new :class:`DataFrame` omitting rows with null values.
 |      :func:`DataFrame.dropna` and :func:`DataFrameNaFunctions.drop` are aliases of each other.
 |
 |      :param how: 'any' or 'all'.
 |          If 'any', drop a row if it contains any nulls.
 |          If 'all', drop a row only if all its values are null.
 |      :param thresh: int, default None
 |          If specified, drop rows that have less than `thresh` non-null values.
 |          This overwrites the `how` parameter.
 |      :param subset: optional list of column names to consider.
 |
 |      >>> df4.na.drop().show()
 |      +---+------+-----+
 |      |age|height| name|
 |      +---+------+-----+
 |      | 10|    80|Alice|
 |      +---+------+-----+
 |
 |      .. versionadded:: 1.3.1
 |
 |  explain(self, extended=False)
 |      Prints the (logical and physical) plans to the console for debugging purpose.
 |
 |      :param extended: boolean, default ``False``. If ``False``, prints only the physical plan.
 |
 |      >>> df.explain()
 |      == Physical Plan ==
 |      Scan ExistingRDD[age#0,name#1]
 |
 |      >>> df.explain(True)
 |      == Parsed Logical Plan ==
 |      ...
 |      == Analyzed Logical Plan ==
 |      ...
 |      == Optimized Logical Plan ==
 |      ...
 |      == Physical Plan ==
 |      ...
 |
 |      .. versionadded:: 1.3
 |
 |  fillna(self, value, subset=None)
 |      Replace null values, alias for ``na.fill()``.
 |      :func:`DataFrame.fillna` and :func:`DataFrameNaFunctions.fill` are aliases of each other.
 |
 |      :param value: int, long, float, string, or dict.
 |          Value to replace null values with.
 |          If the value is a dict, then `subset` is ignored and `value` must be a mapping
 |          from column name (string) to replacement value. The replacement value must be
 |          an int, long, float, or string.
 |      :param subset: optional list of column names to consider.
 |          Columns specified in subset that do not have matching data type are ignored.
 |          For example, if `value` is a string, and subset contains a non-string column,
 |          then the non-string column is simply ignored.
 |
 |      >>> df4.na.fill(50).show()
 |      +---+------+-----+
 |      |age|height| name|
 |      +---+------+-----+
 |      | 10|    80|Alice|
 |      |  5|    50|  Bob|
 |      | 50|    50|  Tom|
 |      | 50|    50| null|
 |      +---+------+-----+
 |
 |      >>> df4.na.fill({'age': 50, 'name': 'unknown'}).show()
 |      +---+------+-------+
 |      |age|height|   name|
 |      +---+------+-------+
 |      | 10|    80|  Alice|
 |      |  5|  null|    Bob|
 |      | 50|  null|    Tom|
 |      | 50|  null|unknown|
 |      +---+------+-------+
 |
 |      .. versionadded:: 1.3.1
 |
 |  filter(self, condition)
 |      Filters rows using the given condition.
 |
 |      :func:`where` is an alias for :func:`filter`.
 |
 |      :param condition: a :class:`Column` of :class:`types.BooleanType`
 |          or a string of SQL expression.
 |
 |      >>> df.filter(df.age > 3).collect()
 |      [Row(age=5, name=u'Bob')]
 |      >>> df.where(df.age == 2).collect()
 |      [Row(age=2, name=u'Alice')]
 |
 |      >>> df.filter("age > 3").collect()
 |      [Row(age=5, name=u'Bob')]
 |      >>> df.where("age = 2").collect()
 |      [Row(age=2, name=u'Alice')]
 |
 |      .. versionadded:: 1.3
 |
 |  first(self)
 |      Returns the first row as a :class:`Row`.
 |
 |      >>> df.first()
 |      Row(age=2, name=u'Alice')
 |
 |      .. versionadded:: 1.3
 |
 |  foreach(self, f)
 |      Applies the ``f`` function to all :class:`Row` of this :class:`DataFrame`.
 |
 |      This is a shorthand for ``df.rdd.foreach()``.
 |
 |      >>> def f(person):
 |      ...     print(person.name)
 |      >>> df.foreach(f)
 |
 |      .. versionadded:: 1.3
 |
 |  foreachPartition(self, f)
 |      Applies the ``f`` function to each partition of this :class:`DataFrame`.
 |
 |      This a shorthand for ``df.rdd.foreachPartition()``.
 |
 |      >>> def f(people):
 |      ...     for person in people:
 |      ...         print(person.name)
 |      >>> df.foreachPartition(f)
 |
 |      .. versionadded:: 1.3
 |
 |  freqItems(self, cols, support=None)
 |      Finding frequent items for columns, possibly with false positives. Using the
 |      frequent element count algorithm described in
 |      "http://dx.doi.org/10.1145/762471.762473, proposed by Karp, Schenker, and Papadimitriou".
 |      :func:`DataFrame.freqItems` and :func:`DataFrameStatFunctions.freqItems` are aliases.
 |
 |      .. note::  This function is meant for exploratory data analysis, as we make no         guarantee about the backward compatibility of the schema of the resulting DataFrame.
 |
 |      :param cols: Names of the columns to calculate frequent items for as a list or tuple of
 |          strings.
 |      :param support: The frequency with which to consider an item 'frequent'. Default is 1%.
 |          The support must be greater than 1e-4.
 |
 |      .. versionadded:: 1.4
 |
 |  groupBy(self, *cols)
 |      Groups the :class:`DataFrame` using the specified columns,
 |      so we can run aggregation on them. See :class:`GroupedData`
 |      for all the available aggregate functions.
 |
 |      :func:`groupby` is an alias for :func:`groupBy`.
 |
 |      :param cols: list of columns to group by.
 |          Each element should be a column name (string) or an expression (:class:`Column`).
 |
 |      >>> df.groupBy().avg().collect()
 |      [Row(avg(age)=3.5)]
 |      >>> sorted(df.groupBy('name').agg({'age': 'mean'}).collect())
 |      [Row(name=u'Alice', avg(age)=2.0), Row(name=u'Bob', avg(age)=5.0)]
 |      >>> sorted(df.groupBy(df.name).avg().collect())
 |      [Row(name=u'Alice', avg(age)=2.0), Row(name=u'Bob', avg(age)=5.0)]
 |      >>> sorted(df.groupBy(['name', df.age]).count().collect())
 |      [Row(name=u'Alice', age=2, count=1), Row(name=u'Bob', age=5, count=1)]
 |
 |      .. versionadded:: 1.3
 |
 |  groupby = groupBy(self, *cols)
 |      :func:`groupby` is an alias for :func:`groupBy`.
 |
 |      .. versionadded:: 1.4
 |
 |  head(self, n=None)
 |      Returns the first ``n`` rows.
 |
 |      Note that this method should only be used if the resulting array is expected
 |      to be small, as all the data is loaded into the driver's memory.
 |
 |      :param n: int, default 1. Number of rows to return.
 |      :return: If n is greater than 1, return a list of :class:`Row`.
 |          If n is 1, return a single Row.
 |
 |      >>> df.head()
 |      Row(age=2, name=u'Alice')
 |      >>> df.head(1)
 |      [Row(age=2, name=u'Alice')]
 |
 |      .. versionadded:: 1.3
 |
 |  intersect(self, other)
 |      Return a new :class:`DataFrame` containing rows only in
 |      both this frame and another frame.
 |
 |      This is equivalent to `INTERSECT` in SQL.
 |
 |      .. versionadded:: 1.3
 |
 |  isLocal(self)
 |      Returns ``True`` if the :func:`collect` and :func:`take` methods can be run locally
 |      (without any Spark executors).
 |
 |      .. versionadded:: 1.3
 |
 |  join(self, other, on=None, how=None)
 |      Joins with another :class:`DataFrame`, using the given join expression.
 |
 |      :param other: Right side of the join
 |      :param on: a string for the join column name, a list of column names,
 |          a join expression (Column), or a list of Columns.
 |          If `on` is a string or a list of strings indicating the name of the join column(s),
 |          the column(s) must exist on both sides, and this performs an equi-join.
 |      :param how: str, default 'inner'.
 |          One of `inner`, `outer`, `left_outer`, `right_outer`, `leftsemi`.
 |
 |      The following performs a full outer join between ``df1`` and ``df2``.
 |

In [19]:
dataDF.rdd.getNumPartitions()

4

In [20]:
### query
### when u use DataFrame or SparkSQL, u are building a query plan. Each transformation u apply to a DataFrame adds some 
### information to the query plan
newDF = dataDF.distinct().select('*')
newDF.explain(True)

== Parsed Logical Plan ==
'Project [*]
+- Aggregate [last_name#0, first_name#1, ssn#2, occupation#3, age#4L], [last_name#0, first_name#1, ssn#2, occupation#3, age#4L]
   +- LogicalRDD [last_name#0, first_name#1, ssn#2, occupation#3, age#4L]

== Analyzed Logical Plan ==
last_name: string, first_name: string, ssn: string, occupation: string, age: bigint
Project [last_name#0, first_name#1, ssn#2, occupation#3, age#4L]
+- Aggregate [last_name#0, first_name#1, ssn#2, occupation#3, age#4L], [last_name#0, first_name#1, ssn#2, occupation#3, age#4L]
   +- LogicalRDD [last_name#0, first_name#1, ssn#2, occupation#3, age#4L]

== Optimized Logical Plan ==
Aggregate [last_name#0, first_name#1, ssn#2, occupation#3, age#4L], [last_name#0, first_name#1, ssn#2, occupation#3, age#4L]
+- LogicalRDD [last_name#0, first_name#1, ssn#2, occupation#3, age#4L]

== Physical Plan ==
*HashAggregate(keys=[last_name#0, first_name#1, ssn#2, occupation#3, age#4L], functions=[], output=[last_name#0, first_name#1, ssn#2, occupation#3, age#4L])
+- Exchange hashpartitioning(last_name#0, first_name#1, ssn#2, occupation#3, age#4L, 200)
   +- *HashAggregate(keys=[last_name#0, first_name#1, ssn#2, occupation#3, age#4L], functions=[], output=[last_name#0, first_name#1, ssn#2, occupation#3, age#4L])
      +- Scan ExistingRDD[last_name#0,first_name#1,ssn#2,occupation#3,age#4L]

In [21]:
### using select
subDF = dataDF.select('last_name', 'first_name', 'ssn', 'occupation', (dataDF.age - 1).alias('age'))

In [22]:
### using collect, returns all the results
results = subDF.collect()
print results

[Row(last_name=u'Smith', first_name=u'Jessica', ssn=u'819-93-5822', occupation=u'Personnel officer', age=43), Row(last_name=u'Johnson', first_name=u'Cynthia', ssn=u'710-35-6233', occupation=u'Music tutor', age=40), Row(last_name=u'Smith', first_name=u'Brian', ssn=u'438-96-0646', occupation=u'Leisure centre manager', age=25), Row(last_name=u'Riley', first_name=u'Ann', ssn=u'243-56-6446', occupation=u'Hydrologist', age=30), Row(last_name=u'Chavez', first_name=u'Timothy', ssn=u'477-02-5081', occupation=u'Accountant, chartered certified', age=40), Row(last_name=u'Brown', first_name=u'James', ssn=u'529-17-5573', occupation=u'Chemical engineer', age=2), Row(last_name=u'Thomas', first_name=u'Tina', ssn=u'275-04-2768', occupation=u'Retail manager', age=38), Row(last_name=u'Moore', first_name=u'Troy', ssn=u'750-05-3862', occupation=u'Engineering geologist', age=30), Row(last_name=u'Patton', first_name=u'Karen', ssn=u'424-81-8815', occupation=u'Graphic designer', age=10), Row(last_name=u'Martinez', first_name=u'Elizabeth', ssn=u'167-44-1195', occupation=u'Lawyer', age=7), Row(last_name=u'Matthew', first_name=u'Dr.', ssn=u'311-70-8099', occupation=u'Chief Technology Officer', age=4), Row(last_name=u'Pittman', first_name=u'Christopher', ssn=u'648-79-4467', occupation=u'Armed forces operational officer', age=28), Row(last_name=u'Johnson', first_name=u'Dustin', ssn=u'456-09-9328', occupation=u'Press photographer', age=32), Row(last_name=u'Scott', first_name=u'Andrea', ssn=u'066-43-2019', occupation=u'Firefighter', age=13), Row(last_name=u'Cardenas', first_name=u'Kathryn', ssn=u'325-86-5150', occupation=u'Primary school teacher', age=38), Row(last_name=u'Hess', first_name=u'Elizabeth', ssn=u'481-50-7733', occupation=u'Lighting technician, broadcasting/film/video', age=31), Row(last_name=u'Schaefer', first_name=u'Marcus', ssn=u'758-07-3253', occupation=u'Accommodation manager', age=15), Row(last_name=u'Hernandez', first_name=u'Norma', ssn=u'196-43-7367', occupation=u'Conservation officer, nature', age=8), Row(last_name=u'Choi', first_name=u'Shannon', ssn=u'484-92-4220', occupation=u'Physiotherapist', age=7), Row(last_name=u'Green', first_name=u'Anna', ssn=u'369-85-2768', occupation=u'Building services engineer', age=29), Row(last_name=u'Matthews', first_name=u'Mike', ssn=u'048-87-4406', occupation=u'Radio producer', age=39), Row(last_name=u'Foster', first_name=u'Benjamin', ssn=u'386-68-4796', occupation=u'Fisheries officer', age=24), Row(last_name=u'Burke', first_name=u'Jacob', ssn=u'186-52-9296', occupation=u'Higher education lecturer', age=15), Row(last_name=u'Swanson', first_name=u'Rebecca', ssn=u'594-11-3666', occupation=u'Research scientist (life sciences)', age=43), Row(last_name=u'Chapman', first_name=u'Taylor', ssn=u'882-75-9956', occupation=u'Electronics engineer', age=14), Row(last_name=u'Carter', first_name=u'Tracy', ssn=u'175-81-2791', occupation=u'Lecturer, further education', age=18), Row(last_name=u'Morris', first_name=u'Geoffrey', ssn=u'241-76-5892', occupation=u'Lighting technician, broadcasting/film/video', age=8), Row(last_name=u'Johnson', first_name=u'Chad', ssn=u'034-99-9738', occupation=u'Pathologist', age=0), Row(last_name=u'Robertson', first_name=u'Jessica', ssn=u'063-76-3052', occupation=u'Press photographer', age=4), Row(last_name=u'Delgado', first_name=u'Jonathan', ssn=u'730-68-3311', occupation=u'Management consultant', age=39), Row(last_name=u'Travis', first_name=u'Dr.', ssn=u'558-15-9489', occupation=u'Designer, blown glass/stained glass', age=39), Row(last_name=u'Ayala', first_name=u'Kathy', ssn=u'768-33-7082', occupation=u'Maintenance engineer', age=21), Row(last_name=u'Watson', first_name=u'Jill', ssn=u'836-76-6759', occupation=u'Surgeon', age=18), Row(last_name=u'Pratt', first_name=u'Darren', ssn=u'312-94-6890', occupation=u'Fast food restaurant manager', age=23), Row(last_name=u'Miller', first_name=u'Jerome', ssn=u'264-92-1479', occupation=u'Pharmacist, hospital', age=16), Row(last_name=u'Lin', first_name=u'Rebecca', ssn=u'321-37-1741', occupation=u'Oceanographer', age=36), Row(last_name=u'Oliver', first_name=u'William', ssn=u'657-50-1325', occupation=u'Tax inspector', age=16), Row(last_name=u'Mcdonald', first_name=u'Thomas', ssn=u'538-37-3967', occupation=u'Radiographer, diagnostic', age=35), Row(last_name=u'Galloway', first_name=u'Erik', ssn=u'109-60-8650', occupation=u'Lecturer, further education', age=19), Row(last_name=u'Cox', first_name=u'Erica', ssn=u'834-71-6427', occupation=u'Higher education careers adviser', age=4), Row(last_name=u'Stephens', first_name=u'Tracy', ssn=u'368-19-2734', occupation=u'Special educational needs teacher', age=38), Row(last_name=u'Boone', first_name=u'Laurie', ssn=u'477-75-5872', occupation=u'Scientist, forensic', age=22), Row(last_name=u'Watson', first_name=u'Regina', ssn=u'093-67-8502', occupation=u'Scientist, product/process development', age=41), Row(last_name=u'Payne', first_name=u'Katherine', ssn=u'119-77-2390', occupation=u'Press photographer', age=31), Row(last_name=u'Kelly', first_name=u'Michelle', ssn=u'493-19-4729', occupation=u'Telecommunications researcher', age=3), Row(last_name=u'Warren', first_name=u'Jeremy', ssn=u'485-98-0859', occupation=u'Community pharmacist', age=18), Row(last_name=u'Neal', first_name=u'James', ssn=u'180-03-9708', occupation=u'Engineer, chemical', age=42), Row(last_name=u'Coleman', first_name=u'Michael', ssn=u'306-97-9296', occupation=u'Product designer', age=4), Row(last_name=u'Smith', first_name=u'William', ssn=u'537-92-9098', occupation=u'Print production planner', age=3), Row(last_name=u'Mccall', first_name=u'Brittney', ssn=u'175-45-4450', occupation=u'Intelligence analyst', age=31), Row(last_name=u'Myers', first_name=u'Stephen', ssn=u'617-49-2477', occupation=u'Editor, magazine features', age=1), Row(last_name=u'Hall', first_name=u'Brooke', ssn=u'863-92-3539', occupation=u'Librarian, academic', age=26), Row(last_name=u'Chan', first_name=u'Joshua', ssn=u'646-72-0709', occupation=u'Designer, ceramics/pottery', age=16), Row(last_name=u'Chan', first_name=u'Karla', ssn=u'861-69-8324', occupation=u'Engineer, energy', age=8), Row(last_name=u'Fleming', first_name=u'Renee', ssn=u'273-77-7997', occupation=u'Intelligence analyst', age=40), Row(last_name=u'Taylor', first_name=u'Christopher', ssn=u'271-49-8012', occupation=u'Mining engineer', age=34), Row(last_name=u'Heath', first_name=u'Tiffany', ssn=u'425-87-1675', occupation=u'Research officer, trade union', age=36), Row(last_name=u'Petersen', first_name=u'Austin', ssn=u'734-83-5614', occupation=u'Chemical engineer', age=28), Row(last_name=u'Thomas', first_name=u'Justin', ssn=u'191-72-6181', occupation=u'Photographer', age=22), Row(last_name=u'Walker', first_name=u'Corey', ssn=u'498-02-3632', occupation=u'Haematologist', age=14), Row(last_name=u'Fisher', first_name=u'Jay', ssn=u'848-65-5185', occupation=u'Public house manager', age=10), Row(last_name=u'Torres', first_name=u'Kristy', ssn=u'532-02-6982', occupation=u'Camera operator', age=1), Row(last_name=u'Foster', first_name=u'Olivia', ssn=u'189-43-1116', occupation=u'Furniture designer', age=6), Row(last_name=u'Le', first_name=u'Susan', ssn=u'708-75-2296', occupation=u'Archaeologist', age=29), Row(last_name=u'Johnson', first_name=u'Michael', ssn=u'458-80-7300', occupation=u'Administrator, arts', age=44), Row(last_name=u'Webster', first_name=u'Amanda', ssn=u'794-23-6226', occupation=u'Media buyer', age=4), Row(last_name=u'Baker', first_name=u'Jimmy', ssn=u'376-74-5222', occupation=u'Accounting technician', age=33), Row(last_name=u'Larson', first_name=u'Tina', ssn=u'821-70-6525', occupation=u"Nurse, children's", age=18), Row(last_name=u'Graham', first_name=u'Jessica', ssn=u'305-29-0941', occupation=u'Surveyor, building', age=7), Row(last_name=u'Rogers', first_name=u'Laura', ssn=u'475-60-6584', occupation=u'Forest/woodland manager', age=26), Row(last_name=u'Santana', first_name=u'Brian', ssn=u'298-59-9736', occupation=u'Commissioning editor', age=22), Row(last_name=u'Hunt', first_name=u'Evan', ssn=u'574-94-6416', occupation=u'Engineer, maintenance', age=12), Row(last_name=u'Berg', first_name=u'Deborah', ssn=u'069-91-4507', occupation=u'Museum/gallery curator', age=46), Row(last_name=u'Rodriguez', first_name=u'Leonard', ssn=u'598-70-1791', occupation=u'Materials engineer', age=34), Row(last_name=u'Wilkins', first_name=u'Nicole', ssn=u'280-93-0323', occupation=u'Materials engineer', age=31), Row(last_name=u'Miller', first_name=u'Nancy', ssn=u'693-93-7759', occupation=u'Administrator', age=43), Row(last_name=u'Reed', first_name=u'Kristin', ssn=u'612-81-6097', occupation=u'Administrator, arts', age=25), Row(last_name=u'Cook', first_name=u'Gregory', ssn=u'350-69-0313', occupation=u'Charity officer', age=30), Row(last_name=u'Adams', first_name=u'Anne', ssn=u'143-62-5602', occupation=u'Insurance account manager', age=43), Row(last_name=u'Craig', first_name=u'Nicole', ssn=u'755-42-3149', occupation=u'Lexicographer', age=17), Row(last_name=u'Jackson', first_name=u'Michelle', ssn=u'389-50-1397', occupation=u'Intelligence analyst', age=24), Row(last_name=u'Hill', first_name=u'Elizabeth', ssn=u'129-14-9933', occupation=u'Patent attorney', age=0), Row(last_name=u'Phillips', first_name=u'Eric', ssn=u'140-63-9643', occupation=u'Higher education careers adviser', age=34), Row(last_name=u'Bailey', first_name=u'Anthony', ssn=u'709-70-0088', occupation=u'Advice worker', age=18), Row(last_name=u'Beltran', first_name=u'Roger', ssn=u'587-67-8024', occupation=u'Engineer, civil (consulting)', age=3), Row(last_name=u'Boyle', first_name=u'Jennifer', ssn=u'401-52-9576', occupation=u'Nurse, mental health', age=31), Row(last_name=u'Stewart', first_name=u'Travis', ssn=u'363-37-4271', occupation=u'Financial manager', age=2), Row(last_name=u'Randolph', first_name=u'Dawn', ssn=u'547-45-3590', occupation=u'Investment analyst', age=2), Row(last_name=u'Gibson', first_name=u'James', ssn=u'826-83-7794', occupation=u'Charity fundraiser', age=29), Row(last_name=u'Lynch', first_name=u'Jennifer', ssn=u'229-33-4420', occupation=u'Engineer, building services', age=15), Row(last_name=u'Le', first_name=u'Rita', ssn=u'504-18-4495', occupation=u'Public relations account executive', age=25), Row(last_name=u'Henry', first_name=u'Jesus', ssn=u'599-84-0580', occupation=u'Emergency planning/management officer', age=37), Row(last_name=u'Riley', first_name=u'Todd', ssn=u'171-97-8702', occupation=u'Exhibitions officer, museum/gallery', age=33), Row(last_name=u'Harrison', first_name=u'Jessica', ssn=u'849-58-7658', occupation=u'Tour manager', age=42), Row(last_name=u'Hodge', first_name=u'Valerie', ssn=u'132-13-4712', occupation=u'Sound technician, broadcasting/film/video', age=5), Row(last_name=u'Harris', first_name=u'Richard', ssn=u'282-26-9067', occupation=u'Geneticist, molecular', age=0), Row(last_name=u'Hall', first_name=u'Ian', ssn=u'282-21-3007', occupation=u'Psychologist, educational', age=22), Row(last_name=u'Morgan', first_name=u'Ms.', ssn=u'860-68-1851', occupation=u'Museum education officer', age=45), Row(last_name=u'Carr', first_name=u'Jose', ssn=u'409-13-0811', occupation=u'Passenger transport manager', age=17), Row(last_name=u'Morris', first_name=u'Ashley', ssn=u'831-27-9719', occupation=u'Farm manager', age=27), Row(last_name=u'Holland', first_name=u'Daniel', ssn=u'508-78-0635', occupation=u'Archaeologist', age=29), Row(last_name=u'Banks', first_name=u'Katherine', ssn=u'001-82-6193', occupation=u'Petroleum engineer', age=6), Row(last_name=u'Ramirez', first_name=u'Barbara', ssn=u'500-94-2551', occupation=u'Electronics engineer', age=9), Row(last_name=u'Carter', first_name=u'Patrick', ssn=u'604-34-4752', occupation=u'Occupational therapist', age=45), Row(last_name=u'Mcgee', first_name=u'Stephen', ssn=u'191-72-7854', occupation=u'Actor', age=4), Row(last_name=u'Harrison', first_name=u'Margaret', ssn=u'245-73-9999', occupation=u'Medical sales representative', age=44), Row(last_name=u'Sampson', first_name=u'Jennifer', ssn=u'402-98-9012', occupation=u'Aeronautical engineer', age=17), Row(last_name=u'Obrien', first_name=u'Daniel', ssn=u'818-80-0259', occupation=u'Operations geologist', age=12), Row(last_name=u'Levine', first_name=u'Timothy', ssn=u'073-12-4521', occupation=u'Advertising account planner', age=28), Row(last_name=u'Mullins', first_name=u'Rodney', ssn=u'661-66-8224', occupation=u'Engineer, materials', age=44), Row(last_name=u'Bates', first_name=u'Jason', ssn=u'400-96-6720', occupation=u'Investment banker, operational', age=29), Row(last_name=u'Berry', first_name=u'Tiffany', ssn=u'294-96-5661', occupation=u'Industrial buyer', age=6), Row(last_name=u'Mcdonald', first_name=u'Ian', ssn=u'874-15-9599', occupation=u'Special effects artist', age=34), Row(last_name=u'Wilkerson', first_name=u'Susan', ssn=u'410-58-2686', occupation=u'Automotive engineer', age=19), Row(last_name=u'Morris', first_name=u'Karen', ssn=u'478-11-5394', occupation=u'Designer, exhibition/display', age=37), Row(last_name=u'Townsend', first_name=u'Robert', ssn=u'645-85-8041', occupation=u'Print production planner', age=37), Row(last_name=u'Ibarra', first_name=u'Victoria', ssn=u'687-65-3488', occupation=u'Ecologist', age=22), Row(last_name=u'Owens', first_name=u'Amanda', ssn=u'038-03-1113', occupation=u'Surveyor, land/geomatics', age=38), Row(last_name=u'George', first_name=u'Jessica', ssn=u'736-16-4927', occupation=u'Armed forces logistics/support/administrative officer', age=1), Row(last_name=u'Bryant', first_name=u'Craig', ssn=u'415-12-6688', occupation=u'Financial planner', age=3), Row(last_name=u'Yu', first_name=u'Benjamin', ssn=u'031-52-3080', occupation=u'Sports coach', age=39), Row(last_name=u'Schmidt', first_name=u'Michael', ssn=u'292-24-4462', occupation=u'Lawyer', age=2), Row(last_name=u'Gaines', first_name=u'Bruce', ssn=u'730-71-0609', occupation=u'Media planner', age=28), Row(last_name=u'Goodwin', first_name=u'Steven', ssn=u'728-19-1350', occupation=u'Television production assistant', age=14), Row(last_name=u'Mills', first_name=u'Eric', ssn=u'117-57-2957', occupation=u'Engineer, chemical', age=25), Row(last_name=u'Gardner', first_name=u'Philip', ssn=u'392-14-3180', occupation=u'Chartered legal executive (England and Wales)', age=9), Row(last_name=u'Clark', first_name=u'Christopher', ssn=u'234-36-8055', occupation=u'Occupational therapist', age=33), Row(last_name=u'Miller', first_name=u'Kimberly', ssn=u'356-40-2252', occupation=u'Scientist, research (physical sciences)', age=30), Row(last_name=u'Taylor', first_name=u'Chad', ssn=u'868-86-4570', occupation=u'Glass blower/designer', age=28), Row(last_name=u'Parker', first_name=u'Benjamin', ssn=u'543-06-0461', occupation=u'Press photographer', age=43), Row(last_name=u'Lopez', first_name=u'Crystal', ssn=u'627-08-7513', occupation=u'Psychotherapist, dance movement', age=19), Row(last_name=u'Griffin', first_name=u'Charles', ssn=u'089-76-4413', occupation=u'Human resources officer', age=25), Row(last_name=u'Mills', first_name=u'Brenda', ssn=u'876-80-2064', occupation=u'Therapist, music', age=23), Row(last_name=u'Anderson', first_name=u'Stephen', ssn=u'320-01-8563', occupation=u'Air cabin crew', age=39), Row(last_name=u'Malone', first_name=u'Tammy', ssn=u'193-75-3122', occupation=u'Engineer, mining', age=16), Row(last_name=u'Hill', first_name=u'Austin', ssn=u'563-89-3890', occupation=u'Ceramics designer', age=45), Row(last_name=u'Johnson', first_name=u'Kim', ssn=u'137-43-6448', occupation=u'Journalist, magazine', age=4), Row(last_name=u'Gallegos', first_name=u'Sara', ssn=u'531-44-3012', occupation=u'Engineer, broadcasting (operations)', age=18), Row(last_name=u'Thompson', first_name=u'Misty', ssn=u'504-36-4476', occupation=u'Therapist, horticultural', age=0), Row(last_name=u'West', first_name=u'Tami', ssn=u'546-76-2478', occupation=u'Buyer, retail', age=22), Row(last_name=u'Burke', first_name=u'Willie', ssn=u'595-27-1122', occupation=u'Science writer', age=2), Row(last_name=u'Vance', first_name=u'Brett', ssn=u'335-31-7379', occupation=u'Health physicist', age=41), Row(last_name=u'Harvey', first_name=u'Mark', ssn=u'450-76-9353', occupation=u'Theatre manager', age=6), Row(last_name=u'Anthony', first_name=u'Michael', ssn=u'853-05-8461', occupation=u'Production manager', age=17), Row(last_name=u'Clay', first_name=u'Courtney', ssn=u'633-79-4992', occupation=u'Statistician', age=19), Row(last_name=u'Cooper', first_name=u'Daniel', ssn=u'386-04-5418', occupation=u'Psychologist, sport and exercise', age=10), Row(last_name=u'Horn', first_name=u'James', ssn=u'287-19-4205', occupation=u'Acupuncturist', age=24), Row(last_name=u'Peterson', first_name=u'Laura', ssn=u'855-65-5421', occupation=u'Equities trader', age=12), Row(last_name=u'Everett', first_name=u'Raymond', ssn=u'620-16-6992', occupation=u'Tourism officer', age=5), Row(last_name=u'Cooper', first_name=u'Samantha', ssn=u'533-53-1050', occupation=u'Teacher, English as a foreign language', age=23), Row(last_name=u'Coleman', first_name=u'Samantha', ssn=u'710-07-4114', occupation=u'Video editor', age=1), Row(last_name=u'Graves', first_name=u'Jennifer', ssn=u'849-66-6029', occupation=u'Engineer, land', age=22), Row(last_name=u'Lara', first_name=u'Cody', ssn=u'258-77-8465', occupation=u'Press sub', age=9), Row(last_name=u'Jones', first_name=u'Shannon', ssn=u'247-94-1684', occupation=u'Insurance underwriter', age=6), Row(last_name=u'Williams', first_name=u'Carolyn', ssn=u'889-64-3810', occupation=u'Optometrist', age=44), Row(last_name=u'Flores', first_name=u'Sarah', ssn=u'267-35-1164', occupation=u'Medical technical officer', age=17), Row(last_name=u'Henderson', first_name=u'Maria', ssn=u'438-05-4586', occupation=u'Medical technical officer', age=45), Row(last_name=u'Alexander', first_name=u'Andrea', ssn=u'864-08-2565', occupation=u'Optometrist', age=4), Row(last_name=u'Johnson', first_name=u'Jessica', ssn=u'485-77-1998', occupation=u'Site engineer', age=33), Row(last_name=u'Allen', first_name=u'Mary', ssn=u'562-55-1571', occupation=u'Pilot, airline', age=44), Row(last_name=u'Armstrong', first_name=u'Annette', ssn=u'793-10-0464', occupation=u'Counsellor', age=45), Row(last_name=u'Murphy', first_name=u'Michael', ssn=u'311-82-1518', occupation=u'Homeopath', age=30), Row(last_name=u'Harrington', first_name=u'Michael', ssn=u'110-46-2666', occupation=u'Administrator', age=25), Row(last_name=u'Yu', first_name=u'Jessica', ssn=u'880-55-7407', occupation=u'Data processing manager', age=0), Row(last_name=u'Mason', first_name=u'Eric', ssn=u'526-51-1567', occupation=u'Applications developer', age=42), Row(last_name=u'Williams', first_name=u'Robin', ssn=u'344-78-3470', occupation=u'Insurance underwriter', age=13), Row(last_name=u'Waters', first_name=u'Daniel', ssn=u'708-54-8302', occupation=u'Insurance risk surveyor', age=21), Row(last_name=u'Gregory', first_name=u'Barbara', ssn=u'379-97-9612', occupation=u'Art therapist', age=15), Row(last_name=u'Dunn', first_name=u'Reginald', ssn=u'608-35-7513', occupation=u'Teacher, English as a foreign language', age=37), Row(last_name=u'Scott', first_name=u'Samuel', ssn=u'142-14-5082', occupation=u'Archaeologist', age=12), Row(last_name=u'Wright', first_name=u'Jeffrey', ssn=u'226-41-5191', occupation=u'English as a second language teacher', age=23), Row(last_name=u'Ward', first_name=u'Joseph', ssn=u'045-80-8526', occupation=u'Learning mentor', age=42), Row(last_name=u'Gibbs', first_name=u'William', ssn=u'607-20-3798', occupation=u'Chartered loss adjuster', age=7), Row(last_name=u'Crawford', first_name=u'William', ssn=u'378-28-7623', occupation=u'Neurosurgeon', age=9), Row(last_name=u'Shaw', first_name=u'Charles', ssn=u'475-39-3359', occupation=u'Community development worker', age=45), Row(last_name=u'Davis', first_name=u'Maria', ssn=u'789-44-4194', occupation=u'Dietitian', age=19), Row(last_name=u'Sweeney', first_name=u'Earl', ssn=u'474-91-7791', occupation=u'Museum/gallery exhibitions officer', age=42), Row(last_name=u'Nguyen', first_name=u'Julia', ssn=u'275-78-7869', occupation=u'Educa

In [23]:
### using show, displays 20 rows
subDF.show()

+---------+-----------+-----------+--------------------+---+
|last_name| first_name|        ssn|          occupation|age|
+---------+-----------+-----------+--------------------+---+
|    Smith|    Jessica|819-93-5822|   Personnel officer| 43|
|  Johnson|    Cynthia|710-35-6233|         Music tutor| 40|
|    Smith|      Brian|438-96-0646|Leisure centre ma...| 25|
|    Riley|        Ann|243-56-6446|         Hydrologist| 30|
|   Chavez|    Timothy|477-02-5081|Accountant, chart...| 40|
|    Brown|      James|529-17-5573|   Chemical engineer|  2|
|   Thomas|       Tina|275-04-2768|      Retail manager| 38|
|    Moore|       Troy|750-05-3862|Engineering geolo...| 30|
|   Patton|      Karen|424-81-8815|    Graphic designer| 10|
| Martinez|  Elizabeth|167-44-1195|              Lawyer|  7|
|  Matthew|        Dr.|311-70-8099|Chief Technology ...|  4|
|  Pittman|Christopher|648-79-4467|Armed forces oper...| 28|
|  Johnson|     Dustin|456-09-9328|  Press photographer| 32|
|    Scott|     Andrea|066-43-2019|         Firefighter| 13|
| Cardenas|    Kathryn|325-86-5150|Primary school te...| 38|
|     Hess|  Elizabeth|481-50-7733|Lighting technici...| 31|
| Schaefer|     Marcus|758-07-3253|Accommodation man...| 15|
|Hernandez|      Norma|196-43-7367|Conservation offi...|  8|
|     Choi|    Shannon|484-92-4220|     Physiotherapist|  7|
|    Green|       Anna|369-85-2768|Building services...| 29|
+---------+-----------+-----------+--------------------+---+
only showing top 20 rows

In [24]:
subDF.show(n=25, truncate=False)

+---------+-----------+-----------+--------------------------------------------+---+
|last_name|first_name |ssn        |occupation                                  |age|
+---------+-----------+-----------+--------------------------------------------+---+
|Smith    |Jessica    |819-93-5822|Personnel officer                           |43 |
|Johnson  |Cynthia    |710-35-6233|Music tutor                                 |40 |
|Smith    |Brian      |438-96-0646|Leisure centre manager                      |25 |
|Riley    |Ann        |243-56-6446|Hydrologist                                 |30 |
|Chavez   |Timothy    |477-02-5081|Accountant, chartered certified             |40 |
|Brown    |James      |529-17-5573|Chemical engineer                           |2  |
|Thomas   |Tina       |275-04-2768|Retail manager                              |38 |
|Moore    |Troy       |750-05-3862|Engineering geologist                       |30 |
|Patton   |Karen      |424-81-8815|Graphic designer                            |10 |
|Martinez |Elizabeth  |167-44-1195|Lawyer                                      |7  |
|Matthew  |Dr.        |311-70-8099|Chief Technology Officer                    |4  |
|Pittman  |Christopher|648-79-4467|Armed forces operational officer            |28 |
|Johnson  |Dustin     |456-09-9328|Press photographer                          |32 |
|Scott    |Andrea     |066-43-2019|Firefighter                                 |13 |
|Cardenas |Kathryn    |325-86-5150|Primary school teacher                      |38 |
|Hess     |Elizabeth  |481-50-7733|Lighting technician, broadcasting/film/video|31 |
|Schaefer |Marcus     |758-07-3253|Accommodation manager                       |15 |
|Hernandez|Norma      |196-43-7367|Conservation officer, nature                |8  |
|Choi     |Shannon    |484-92-4220|Physiotherapist                             |7  |
|Green    |Anna       |369-85-2768|Building services engineer                  |29 |
|Matthews |Mike       |048-87-4406|Radio producer                              |39 |
|Foster   |Benjamin   |386-68-4796|Fisheries officer                           |24 |
|Burke    |Jacob      |186-52-9296|Higher education lecturer                   |15 |
|Swanson  |Rebecca    |594-11-3666|Research scientist (life sciences)          |43 |
|Chapman  |Taylor     |882-75-9956|Electronics engineer                        |14 |
+---------+-----------+-----------+--------------------------------------------+---+
only showing top 25 rows

In [25]:
### using count
print dataDF.count()
print subDF.count()

10000
10000

In [30]:
### using filter
filteredDF = subDF.filter(subDF.age < 10)
filteredDF.show(10, truncate=False)
filteredDF.count()

+---------+----------+-----------+--------------------------------------------+---+
|last_name|first_name|ssn        |occupation                                  |age|
+---------+----------+-----------+--------------------------------------------+---+
|Brown    |James     |529-17-5573|Chemical engineer                           |2  |
|Martinez |Elizabeth |167-44-1195|Lawyer                                      |7  |
|Matthew  |Dr.       |311-70-8099|Chief Technology Officer                    |4  |
|Hernandez|Norma     |196-43-7367|Conservation officer, nature                |8  |
|Choi     |Shannon   |484-92-4220|Physiotherapist                             |7  |
|Morris   |Geoffrey  |241-76-5892|Lighting technician, broadcasting/film/video|8  |
|Johnson  |Chad      |034-99-9738|Pathologist                                 |0  |
|Robertson|Jessica   |063-76-3052|Press photographer                          |4  |
|Cox      |Erica     |834-71-6427|Higher education careers adviser            |4  |
|Kelly    |Michelle  |493-19-4729|Telecommunications researcher               |3  |
+---------+----------+-----------+--------------------------------------------+---+
only showing top 10 rows

2209

In [39]:
### lambda function and user defined functions
### pyspark.sql.functions.udf  vs. sqlContext.registerFunction
### the later is used in the context of spark SQL query
### e.g. sqlContext.registerFunction("stringLengthString", lambda x: len(x))
### sqlContext.sql("SELECT stringLengthString('test')").collect()
from pyspark.sql.types import BooleanType
less_ten = pyspark.sql.functions.udf(lambda s:s<10, BooleanType())
lambdaDF = subDF.filter(less_ten(subDF.age))
lambdaDF.show(5, truncate=False)
lambdaDF.count()

+---------+----------+-----------+----------------------------+---+
|last_name|first_name|ssn        |occupation                  |age|
+---------+----------+-----------+----------------------------+---+
|Brown    |James     |529-17-5573|Chemical engineer           |2  |
|Martinez |Elizabeth |167-44-1195|Lawyer                      |7  |
|Matthew  |Dr.       |311-70-8099|Chief Technology Officer    |4  |
|Hernandez|Norma     |196-43-7367|Conservation officer, nature|8  |
|Choi     |Shannon   |484-92-4220|Physiotherapist             |7  |
+---------+----------+-----------+----------------------------+---+
only showing top 5 rows

2209

In [41]:
even = pyspark.sql.functions.udf(lambda s:s%2==0, BooleanType())
evenDF = lambdaDF.filter(even(lambdaDF.age))
evenDF.show(5, truncate=False)
evenDF.count()

+---------+----------+-----------+--------------------------------------------+---+
|last_name|first_name|ssn        |occupation                                  |age|
+---------+----------+-----------+--------------------------------------------+---+
|Brown    |James     |529-17-5573|Chemical engineer                           |2  |
|Matthew  |Dr.       |311-70-8099|Chief Technology Officer                    |4  |
|Hernandez|Norma     |196-43-7367|Conservation officer, nature                |8  |
|Morris   |Geoffrey  |241-76-5892|Lighting technician, broadcasting/film/video|8  |
|Johnson  |Chad      |034-99-9738|Pathologist                                 |0  |
+---------+----------+-----------+--------------------------------------------+---+
only showing top 5 rows

1101

In [42]:
### first() and take()
print "first: {0}\n".format(filteredDF.first())
print "first four of them: {0}\n".format(filteredDF.take(4))

first: Row(last_name=u'Brown', first_name=u'James', ssn=u'529-17-5573', occupation=u'Chemical engineer', age=2)

first four of them: [Row(last_name=u'Brown', first_name=u'James', ssn=u'529-17-5573', occupation=u'Chemical engineer', age=2), Row(last_name=u'Martinez', first_name=u'Elizabeth', ssn=u'167-44-1195', occupation=u'Lawyer', age=7), Row(last_name=u'Matthew', first_name=u'Dr.', ssn=u'311-70-8099', occupation=u'Chief Technology Officer', age=4), Row(last_name=u'Hernandez', first_name=u'Norma', ssn=u'196-43-7367', occupation=u'Conservation officer, nature', age=8)]

In [44]:
### orderby -- Pandas style
dataDF.orderBy(dataDF.age.desc()).take(5)

[Row(last_name=u'House', first_name=u'Michelle', ssn=u'043-85-4303', occupation=u'Tourist information centre manager', age=47),
 Row(last_name=u'Henry', first_name=u'Andrea', ssn=u'002-33-5681', occupation=u'Information systems manager', age=47),
 Row(last_name=u'Mendoza', first_name=u'Claire', ssn=u'327-62-6567', occupation=u'Fitness centre manager', age=47),
 Row(last_name=u'Clark', first_name=u'Chad', ssn=u'550-80-0263', occupation=u'Interior and spatial designer', age=47),
 Row(last_name=u'Crane', first_name=u'Curtis', ssn=u'441-91-6404', occupation=u'Call centre manager', age=47)]

In [53]:
### orderby -- subscript style
dataDF.orderBy('age', 'first_name').take(5)

[Row(last_name=u'James', first_name=u'Alexandria', ssn=u'438-67-2346', occupation=u'Designer, jewellery', age=1),
 Row(last_name=u'Avila', first_name=u'Alexis', ssn=u'399-44-2866', occupation=u'Customer service manager', age=1),
 Row(last_name=u'Gray', first_name=u'Alicia', ssn=u'155-72-6329', occupation=u'Nurse, mental health', age=1),
 Row(last_name=u'Santana', first_name=u'Alison', ssn=u'405-73-8652', occupation=u'Information systems manager', age=1),
 Row(last_name=u'Stephens', first_name=u'Alyssa', ssn=u'464-59-5082', occupation=u'Immigration officer', age=1)]

In [54]:
### distinct and dropDuplicates
print dataDF.count()
print dataDF.distinct().count()

10000
10000

In [55]:
tempDF = sqlContext.createDataFrame([('Joe', 1), ('Joe', 1), ('Anna', 15),('Anna', 12), ('Ravi', 5)], ('name', 'score'))

In [57]:
tempDF.show()

+----+-----+
|name|score|
+----+-----+
| Joe|    1|
| Joe|    1|
|Anna|   15|
|Anna|   12|
|Ravi|    5|
+----+-----+

In [58]:
### the distinct transformation will look at each column
tempDF.distinct().show()

+----+-----+
|name|score|
+----+-----+
| Joe|    1|
|Ravi|    5|
|Anna|   12|
|Anna|   15|
+----+-----+

In [59]:
print dataDF.count()
print dataDF.dropDuplicates(['first_name','last_name']).count()

10000
9326

In [61]:
### drop, behaves like the opposite of select()
dataDF.drop('occupation').drop('age').take(3)

[Row(last_name=u'Smith', first_name=u'Jessica', ssn=u'819-93-5822'),
 Row(last_name=u'Johnson', first_name=u'Cynthia', ssn=u'710-35-6233'),
 Row(last_name=u'Smith', first_name=u'Brian', ssn=u'438-96-0646')]

In [63]:
### groupBy
dataDF.groupBy('occupation').count().show(3, truncate=False)

+--------------------------+-----+
|occupation                |count|
+--------------------------+-----+
|Librarian, academic       |20   |
|Designer, ceramics/pottery|16   |
|Engineer, aeronautical    |21   |
+--------------------------+-----+
only showing top 3 rows

In [64]:
dataDF.groupBy('occupation').avg('age').show(3, truncate=False)

+--------------------------+------------------+
|occupation                |avg(age)          |
+--------------------------+------------------+
|Librarian, academic       |19.85             |
|Designer, ceramics/pottery|25.75             |
|Engineer, aeronautical    |18.714285714285715|
+--------------------------+------------------+
only showing top 3 rows

In [66]:
print 'Maximum age: {0}'.format(dataDF.groupBy().max('age').first()[0])

Maximum age: 47

In [67]:
### sample
dataDF.sample(withReplacement=False, fraction=.1).count()

1047

In [76]:
### caching
### by default, Spark will automatically delete partitions from memory to make space for new ones
### if u plan to use a DataFrame for more than onece, u should tell Spark to cache it
### chche is also a lazy operation, it wouldn't be executed until some actions (count/collect) would have happend first
filteredDF.cache()
print filteredDF.is_cached
print filteredDF.count()
print filteredDF.is_cached

True
2209
True

In [75]:
### unchche / unpersist
filteredDF.unpersist()
print filteredDF.is_cached

False

In [78]:
'''
-- easy for debugging:
    df2 = df1.transformation1()
    df2.action1()
    ...

-- readability:
    (dataDF.filter(dataDF.age > 20)
    .select(concat(dataDF.first_name, lit(''), dataDF.last_name), dataDF.occupation)
    .show(truncate=False)
    )
'''

'\n-- easy for debugging:\n    df2 = df1.transformation1()\n    df3\n'

In [86]:
from pyspark.sql.functions import *
(dataDF.filter(dataDF.age > 20)
    .select(concat(dataDF.first_name, lit(', '), dataDF.last_name), dataDF.occupation)
    .show(truncate=False)
)

+---------------------------------+--------------------------------------------+
|concat(first_name, , , last_name)|occupation                                  |
+---------------------------------+--------------------------------------------+
|Jessica, Smith                   |Personnel officer                           |
|Cynthia, Johnson                 |Music tutor                                 |
|Brian, Smith                     |Leisure centre manager                      |
|Ann, Riley                       |Hydrologist                                 |
|Timothy, Chavez                  |Accountant, chartered certified             |
|Tina, Thomas                     |Retail manager                              |
|Troy, Moore                      |Engineering geologist                       |
|Christopher, Pittman             |Armed forces operational officer            |
|Dustin, Johnson                  |Press photographer                          |
|Kathryn, Cardenas                |Primary school teacher                      |
|Elizabeth, Hess                  |Lighting technician, broadcasting/film/video|
|Anna, Green                      |Building services engineer                  |
|Mike, Matthews                   |Radio producer                              |
|Benjamin, Foster                 |Fisheries officer                           |
|Rebecca, Swanson                 |Research scientist (life sciences)          |
|Jonathan, Delgado                |Management consultant                       |
|Dr., Travis                      |Designer, blown glass/stained glass         |
|Kathy, Ayala                     |Maintenance engineer                        |
|Darren, Pratt                    |Fast food restaurant manager                |
|Rebecca, Lin                     |Oceanographer                               |
+---------------------------------+--------------------------------------------+
only showing top 20 rows